* {
	box-sizing: border-box;

}
body {
	margin: 0;
	
}
#carousel {
	margin-right: auto;
	margin-left: auto;
	height: 400px;
	width: 100%;
	border: 2px solid #000;
	overflow: hidden;
	
}
#carousel ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}
#carousel li {
	width: 100%;
	height: 400px;
	float: left;
	list-style: none;

}
#carousel li img {
	width: 100%;
	height: 100%;
	background-size: cover;
	object-fit: cover;
	background-position: center
}